<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Story9</title>
    <!-- Bootstrap CSS -->
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.min.css' %}">
</head>
<style>
  body{background-color:darkcyan}
</style>
<body>
    <h1 style="text-align: center">Book Database</h1>
    <h3 style="text-align: center"><i>What kind of book are you looking for?</i></h3>
    <div class="row">
        <input type="searchBox" style="margin-top:5vw;margin-left: 3vw;width: 90%" placeholder="Searching . . ." id="searchBox" style="width: 40vw;">
    </div>
    <div class="row" style="margin-left:50%">
        <button type="submit" id = "searchButton">Search</button>
    </div>
    <br>      
    <div class="row" style="text-align:center">
            <table id="table" class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Total Likes</th>
                        <th scope="col">Like!</th>
                    </tr>
                </thead>
                <tbody class="white" id="resultTable"></tbody>
            </table>
    </div>
</div>

<button type="button" id="modalButton" class="btn btn-dark" data-toggle="modal" data-target="#top5">Top 5 Titles</button>

        <div id="top5" class="modal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Most Liked Books from what you've searched</h3>
                        <button type="button" class="close center" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="modalTable" class="table table-bordered">
                            <tbody id="topTitles"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

<script type="text/javascript">
    function searchBook(){
        var final = document.getElementById("resultTable")
        var searchTitle = document.getElementById('searchBox').value
        final.innerHTML = ""
        console.log(searchTitle)
        $.ajax({
        url: "https://www.googleapis.com/books/v1/volumes?q=" + searchTitle,
        dataType: "json",
            success: function(data){
                resultTable.innerHTML += "<tbody>"
                for(i=0; i<data.items.length; i++){
                    try{
                        final.innerHTML +=
                    "<tr id='idRow" + i + "'>" +
                    "<td id='idBook" + i + "'>" + data.items[i].volumeInfo.title + "</td>" +
                    "<td id='idBookAuthor" + i + "'>" + data.items[i].volumeInfo.authors[0] + "</td>" +
                    "<td id='idBookTotalLike" + i + "'>" + 0 + "</td>" +
                    "<td id='idBookVote" + i + "'>" + "<button id='button" + i + "' onclick = update('idBook" + i + "','idBookTotalLike" + i + "')>Like</button>" + "</td>" +
                    "</tr>"
                    }catch(TypeError){
                    "<tr id='idRow" + i + "'>" +
                    "<td id='idBook" + i + "'>data.items[i].volumeInfo.title</td>" +
                    "<td id='idBookAuthor" + i + "'>Author Undefined</td>" +
                    "<td id='idBookTotalLike" + i + "'>0</td>" +
                    "<td id='idBookVote" + i + "'>" + "<button id='button" + i + "' onclick = update('idBook" + i + "','idBookTotalLike" + i + "')>Like</button>" + "</td>" +
                    "</tr>"
                    }
                }
                final.innerHTML += "</tbody>"
                
            },
            type: 'GET',
        });
    }
    document.getElementById("searchButton").addEventListener("click", searchBook, false)
</script>

<script type="text/javascript">
    function update(title,totallikeid){
        incrementLike(totallikeid)
        sortTable()
        modalUpdate()
    }
</script>


<script type="text/javascript">
    function incrementLike(totallikeid){
        var result = parseInt(document.getElementById(totallikeid).textContent)
        console.log(result)
        document.getElementById(totallikeid).innerHTML = result + 1
    }
</script>

<script type="text/javascript">
    function sortTable() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("table");
      switching = true;
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[2];
          y = rows[i + 1].getElementsByTagName("TD")[2];
          if (parseInt(x.textContent) < parseInt(y.textContent)) {
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
    </script>
    

<script type="text/javascript">
    function modalUpdate() {
    var modal = document.getElementById("topTitles")
    modal.innerHTML = ''
    var books = document.getElementById("resultTable")
    var booksRow = books.rows
    for(i = 0; i < 5; i++) {
        modal.innerHTML += "<tr>" + "<td id='mostLikedTitle"
            + i + "'>" + booksRow[i].cells[0].textContent
            + "</td>" + "</tr>"
        }
    }
</script>
</html>